.activeLink {
    font-weight: bold !important;
    color: black;
}

.navLink {
    color: black;
}

.header {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2vw;
}

.header > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
    font-size: x-large;
    width: fit-content;
    text-align: center;
    flex-grow: 1;
    justify-content: center;
}

.header img {
    object-fit: contain;
    height: 2.5rem;
    width: 2.5rem;
}
