.featuredPage {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-items: center;
    align-items: center;
    align-content: center;
    padding-bottom: 8vh;
}

.stackCard {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
    padding: 2rem;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    max-width: 70vw;
    min-height: 40vh;
    gap: 1rem;
    color: black;
}

.stackCard:hover {
    color: rgb(3, 154, 255);
}

.currentItemLogo {
    position: relative;
    flex: 1 1 45%;
}
.currentItemLogo > img {
    position: relative;
    height: 100%;
    width: 100%;
    min-width: 250px;
}

.stackCardText {
    flex: 1 1 45%;
    padding-inline: 0.5rem;
    overflow-y: scroll;
}
.stackCardText > p {
    text-align: justify;
}
